*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100px;
    background-image: url(./simple-pattern-with-css3.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(169, 220, 252);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 1.5rem;
    margin: 100px auto;
    width: 900px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 2.5rem;
    padding-bottom: 50px;
}

#add-number{
    margin-top: 20px;
    margin: 20px;
    width: auto;
    /* border-radius: 15px 15px 15px 15px;
    background: #becfe6;
    padding: 20px;
    width: 200px;
    height: 100px; */
}
#entered-number{
    border-radius: 15px 15px 15px 15px;
    border-color: whitesmoke;
    background: #becfe6;
    padding: 20px;
    width: 200px;
    height: 40px;
    color: rgb(175, 113, 151);
    font-size: 1.2rem;
}

#number-range{
    color: white;
}